
@media screen and (max-width: 480px){
  body {
    background-color: green;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
}
body {
  background-color: black;
  color: white;
}
.container {
  display: flex;
  flex-flow: row wrap;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 25px;
  background-color: #272626;
  
}
.bio {
  margin-top: 25px;
  margin-left: 25px;
}
.contact {
  margin-top: 5px;
  margin-right: 25px;
  margin-left: auto;
}
.contact ul li {
  font-weight: bold;

}

.intro {
  margin-right: 25px;
  margin-left: 25px;
}
img {
  width: 100px;
  height: auto;
  display: inline-block;
}
.bio h4{
  display: inline;
}
h4 span{
  display: inline-block;
}
.employment {
  width: 380px;
  height: 850px;
  margin-left: 25px;
}
.emp-edu {
  background-color: #999696;
}

.emp-edu #emp-box {
  display: inline-block;
  border: 1px  rgb(16, 247, 39)solid;
  background-color: rgb(16, 247, 39);
  height: 17px;
  width: 15px;
  border-radius: 3px;
  margin-right: 5px;
}
.emp-edu #edu-box {
  display: inline-block;
  border: 1px  rgb(25, 176, 240)solid;
  background-color:rgb(25, 176, 240);
  height: 17px;
  width: 15px;
  border-radius: 3px;
  margin-right: 5px;
}
.emp-one {
display: inline-block;
border: 1px   rgb(74, 133, 244)solid;
background-color: rgb(74, 133, 244);
height: 15px;
width: 15px;
margin-right: 3px;
border-radius: 50%;
text-align: center;
}

.emp-two {
  display: inline-block;
  border: 1px   rgb(8, 218, 50)solid;
  background-color: rgb(8, 218, 50);
  height: 15px;
  width: 15px;
  margin-left: 3px;
  margin-right: 3px;
  border-radius: 50%;
  text-align: center;
}

.year {
  margin-left: auto;
}

p, .info{
  font-size: small;
  color: #808080;
}


.position {
  margin-top: -25px;
  margin-left: 20px;
  
}
.skills {
  margin-right: 25px;
  width: 200px;
  height: auto;
  margin-left: auto;
}
ul {
  padding-left: 10px;
  padding-right: 10px;
}
ul li {
  list-style-type: none;

}

#box1{
 
  margin-top: -15px;
  margin-left: 2px;
  margin-right: 45px;
  height: 15px;
  color: #ffff;
  background-color: rgb(80, 80, 235);
}
#box2{
  margin-top: -15px;
  margin-left: 2px;
  margin-right: 60px;
  height: 15px;
  color: #ffff;
  background-color: rgb(80, 80, 235);
}

#box3 {
 
  margin-top: -15px;
  margin-left: 2px;
  margin-right: 35px;
  height: 15px;
  color: #ffff;
  background-color: rgb(8, 246, 12);
}
#box4 {
  
  margin-top: -15px;
  margin-left: 2px;
  margin-right: 60px;
  height: 15px;
  color: #ffff;
  background-color: rgb(250, 230, 4);
}
#box5 {
 
  margin-top: -15px;
  margin-left: 2px;
  margin-right: 75px;
  height: 15px;
  color: #ffff;
  background-color: rgb(250, 98, 4);
}
.per {
  float: right;
  
}


/* #box1-1 {
  float: right;
  margin-left: 10px;
  margin-right: 45px;
  height: 15px;
  background-color: rgb(81, 81, 84);
} */
#ado-pho, #ado-ill {
  display: inline-block;
  border: 1px rgb(25, 176, 240)solid;
  background-color: rgb(25, 176, 240);
  height: 10px;
  width: 10px;
  margin-right: 3px;
}

.ado-ind {
  display: inline-block;
  border: 1px  rgb(16, 247, 39)solid;
  background-color: rgb(16, 247, 39);
  height: 10px;
  width: 10px;
  margin-right: 3px;
}
#corel {
  display: inline-block;
  border: 1px  rgb(232, 247, 16)solid;
  background-color: rgb(232, 247, 16);
  height: 10px;
  width: 10px;
  margin-right: 3px;
}
#threeD {
  display: inline-block;
  border: 1px   rgb(234, 24, 13)solid;
  background-color: rgb(234, 24, 13);
  height: 10px;
  width: 10px;
  margin-right: 3px;
}
/* .test {
  display: flex;
  flex-flow: row wrap;
} */
.lang {
  display: inline-block;
}
.diff-lang {
  display: inline-block;
}
.eng-one {
  display: inline-block;
  border: 1px   rgb(74, 133, 244)solid;
  background-color: rgb(74, 133, 244);
  height: 10px;
  width: 10px;
  margin-right: 3px;
  border-radius: 50%;

}
#eng-five {
  display: inline-block;
  border: 0.5px   rgb(174, 174, 174)solid;
  background-color: rgb(0, 0, 0);
  height: 10px;
  width: 10px;
  margin-right: 3px;
  border-radius: 50%; 
}
.fre-one {
  display: inline-block;
  border: 1px   rgb(8, 218, 50)solid;
  background-color: rgb(8, 218, 50);
  height: 10px;
  width: 10px;
  margin-left: 3px;
  margin-right: 3px;
  border-radius: 50%;
  
}
.fre-two {
    display: inline-block;
    border: 0.5px   rgb(174, 174, 174)solid;
    background-color: rgb(0, 0, 0);
    height: 10px;
    width: 10px;
    margin-right: 3px;
    border-radius: 50%; 
}
.spa-one {
  display: inline-block;
  border: 1px   rgb(246, 238, 15)solid;
  background-color: rgb(246, 238, 15);
  height: 10px;
  width: 10px;
  margin-left: 10px;
  margin-right: 3px;
  border-radius: 50%;
}
#spa-two {
  display: inline-block;
  border: 0.5px   rgb(174, 174, 174)solid;
  background-color: rgb(0, 0, 0);
  height: 10px;
  width: 10px;
  margin-right: 3px;
  border-radius: 50%; 
}